@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

body {
  font-family: 'Signika Negative', sans-serif;
  font-size: 18pt;
  background-color: #49BEAA;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#app-name {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #F5DFBB;
  font-size: 30pt;
  margin-top: 1%;
}

#mainpage {
  text-align: center;
}

a {
  text-decoration: none;
  color: #F5DFBB;
}

a:hover {
  color: #4390D8;
}

ul {
  list-style: none;
  display: contents;
  font-weight: bold;
  font-size: 18pt;
}

#logout-button {
  background-color: #1B72C1;
  color: #F5DFBB;
  border-style: none;
  border-radius: 5px;
  font-size: 18pt;
  cursor: pointer;
}

#logout-button:hover {
  background-color: darkblue;
}

@media screen and (max-width: 700px) {
  #main-page {
    margin-top: 35%;
  }

  img {
    display: block;
    margin: 0px auto;
    width: 30%;
    height: auto;
    margin-top: 13vh;
  }

  #app-name {
    margin-bottom: 10%;
  }

  #mainpage .main-options li {
    margin-top: 5%;
  }
}

@media screen and (min-width: 701px) and (max-width: 1023px) {
  img {
    display: block;
    margin: 0px auto;
    width: 14%;
    height: auto;
    margin-top: 10%;
  }

  #app-name {
    font-size: 35pt;
  }

  ul {
    font-size: 20pt;
  }

  #mainpage .main-options li {
    margin-top: 3%;
  }
}

@media screen and (min-width: 1024px) {
  img {
    display: block;
    margin: 0px auto;
    width: 15%;
    height: auto;
    margin-top: 8%;
  }

  #app-name {
    font-size: 45pt;
    margin-bottom: 5%;
  }

  ul {
    font-size: 30pt;
  }

  #mainpage .main-options li {
    margin-top: 2%;
  }
}
