@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

body {
  font-family: 'Signika Negative', sans-serif;
}

#app-name {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #4390D8;
  margin-bottom: 2%;
  margin-top: -10px;
  font-size: 35pt;
  margin-top: 1%;
  text-shadow: -1px 0 #444, 0 1px #444, 2px 0 #444, 0 -1px #444;
}

#main-page {
  text-align: center;
}

.main-menu {
  text-decoration: none;
  color: #F5DFBB;
}

.main-menu:hover {
  color: #4390D8;
}

ul {
  list-style: none;
  display: contents;
  font-weight: bold;
  font-size: 18pt;
}

#image {
  width: 155px;
}

li {
  margin-bottom: 1.5%;
  font-size: 20pt;
}

form{
  margin-top: -1%;
}

@media screen and (max-width: 700px) {
  .image {
    width: 150px;
    margin-top: 12%;
  }

  li {
    margin-bottom: 4%;
    font-size: 20pt;
  }
  
  #app-name{
    margin-bottom: 6%;
    margin-top: -10px;
    font-size: 35pt;
  }
}
