@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

#login-panel {
  position: absolute;
  background-color: rgba(210, 180, 150, 0.7);
  backdrop-filter: blur(6px);
  padding: 1em;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
