@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

body {
  font-family: 'Signika Negative', sans-serif;
  font-size: 18pt;
  background-color: #49BEAA;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#app-name {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #F5DFBB;
  font-size: 30pt;
  margin-top: 2%;
}

#mainpage {
  text-align: center;
}

a {
  text-decoration: none;
  color: #F5DFBB;
}

a:hover {
  color: #4390D8;
}

ul {
  list-style: none;
  display: contents;
  font-weight: bold;
}

#logout-button {
  background-color: #1B72C1;
  color: #F5DFBB;
  border-style: none;
  border-radius: 5px;
  font-size: 15pt;
}

/* #image {
  width: 15%;
  margin-top: 10%;
  margin-left: 40%;
} */

/* @media screen and (max-width: 900px) {
  #image {
    width: 15%;
    margin-top: 40%;
    margin-left: 40%;
  }
} */

@media screen and (max-width: 700px) {
  img {
    display: block;
    margin: 0px auto;
    width: 18%;
    height: auto;
    margin-top: 13%;
  }

  #app-name {
    margin-bottom: 10%;
  }

  #mainpage .main-options li {
    margin-top: 2%;
  }
}

@media screen and (min-width: 701px) and (max-width: 1023px) {
  img {
    display: block;
    margin: 0px auto;
    width: 14%;
    height: auto;
    margin-top: 10%;
  }

  #mainpage .main-options li {
    margin-top: 3%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 2048px) {
  img {
    display: block;
    margin: 0px auto;
    width: 10%;
    height: auto;
    margin-top: 5%;
  }

  #mainpage .main-options li {
    margin-top: 1%;
  }

}