* {
    margin: 0%;
    padding-left: 0%;
    box-sizing: border-box;
}

.container{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 0px;
    background-color: black;
}

.timeline-content{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.decision-count{
    font-family: 'Oleo Script Swash Caps', cursive;
    color: wheat;
}

.decision-content{
    font-family: 'Signika Negative', sans-serif;
    color: white;
    line-height: 37px;
    font-weight: 300;
}

#points{
    font-family: 'Signika Negative', sans-serif;
    color: white;
    text-align: center;
    margin-top: 15px;
}

.ulist{
    list-style: none;
    border-radius: 10px;
    margin-top: 10px;
}

.list{
    padding: 20px;
    background-color: #49BEAA;
    border-radius: 10px;
    margin-top:10px;
}

@media only screen and (min-width: 800px) {
    .timeline-content ul li {
        width: 50%;
        margin-top: -5px;
        margin-bottom: 15px;
        position: relative;

    }

    .timeline-content ul li:nth-child(odd) {
        transform: translateX(-20%);
        cursor: pointer;
        float: left;
        clear: right;
    }

    .timeline-content ul li:nth-child(even) {
        transform: translateX(20%);
        cursor: pointer;
        float: right;
        clear: left;
    }

    .timeline-content ul li:hover:after{
        background-color: yellow;
        cursor: pointer;
    }

    .content:hover {
        transform: scale(1.05);
    }

    .timeline-content::before {
        content: '';
        height: 100%;
        width: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        background-color: red;
    }

    .timeline-content ul li::after {
        content: '';
        height: 20px;
        width: 20px;
        position: absolute;
        background-color: gray;
        border-radius: 50%;
        top: -10px;
    }

    .timeline-content ul li:nth-child(odd)::after {
        right: -80px;
        transform: translate(50%, -50%);
    }

    .timeline-content ul li:nth-child(even)::after {
        left: -80px;
        transform: translate(-50%, 50%);
    }

    .timeline-content ul li:nth-child(even)::before {
        content: '';
        height: 0;
        position: absolute;
        top: 13px;
        width: 0;
        left: -10px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent #49BEAA transparent transparent;
    }

    .timeline-content ul li:nth-child(odd)::before {
        content: '';
        height: 0;
        position: absolute;
        top: 13px;
        width: 0;
        left: 400px;
        border: medium solid white;
        border-width: 10px 10px 10px 10px;
        border-color: transparent transparent transparent #49BEAA;
    }
}

@media only screen and (min-width: 0px) and (max-width: 799px) {
    .timeline-content ul li {
        width: 50%;
        margin-top: -5px;
        margin-bottom: 15px;
        position: relative;

    }

    .timeline-content ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-20%);
        cursor: pointer;
    }

    .timeline-content ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(20%);
        cursor: pointer;
    }

    .timeline-content ul li:hover:after{
        background-color: yellow;
        cursor: pointer;
    }

    .content:hover {
        transform: scale(1.05);
    }

    .timeline-content::before {
        content: '';
        height: 100%;
        width: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        background-color: red;
    }

    .timeline-content ul li::after {
        content: '';
        height: 20px;
        width: 20px;
        position: absolute;
        background-color: gray;
        border-radius: 50%;
        top: -10px;
    }

    .timeline-content ul li:nth-child(odd)::after {
        right: -39px;
        transform: translate(50%, -50%);
    }

    .timeline-content ul li:nth-child(even)::after {
        left: -39px;
        transform: translate(-50%, 50%);
    }

    .timeline-content ul li:nth-child(even)::before {
        content: '';
        height: 0;
        position: absolute;
        top: 13px;
        width: 0;
        left: -10px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent #49BEAA transparent transparent;
    }

    .timeline-content ul li:nth-child(odd)::before {
        content: '';
        height: 0;
        position: absolute;
        top: 13px;
        width: 0;
        left: 193px;
        border: medium solid white;
        border-width: 10px 10px 10px 10px;
        border-color: transparent transparent transparent #49BEAA;
    }
}