<div class="footer-container">
    <div class="inside-wrapper">
        <div class="footer-bg">
            <div class="footer-icon icon-enlarge"><a href="/" title="Home"><img src="../img/home.png" alt=""></a></div>
            <div class="footer-icon icon-enlarge"><a href="/timeline" title="Play History"><img
                        src="../img/timeline.png" alt=""></a></div>
            <div class="footer-icon icon-enlarge"><a href="/profile" title="User Profile"><img src="../img/user.png"
                        alt=""></a></div>
            <div class="footer-icon icon-enlarge">
                <form method="post" action="/logout">
                    <input type="hidden" name="name" value="value" />
                    <a href="#" onclick="this.parentNode.submit();" title="Log out"><img src="../img/logout.png" alt=""></a>
                </form>
            </div>
        </div>
    </div>
</div>